.profile__info {
  display: grid;
  grid-template-columns: repeat(3, minmax(min-content, max-content));
  grid-template-rows: repeat(2, 60px);
}

@media screen and (max-width: 768px) {
  .profile__info {
    grid-template-columns: repeat(2, minmax(min-content, max-content));
    grid-template-rows: repeat(4, 60px);
    justify-items: center;
  }
}
