.profile__username {
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.14;
  padding-left: 30px;
  align-self: end;
  padding-right: 18px;
  max-width: 450px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .profile__username {
    grid-column: 1/2;
    grid-row: 3/4;
  }
}

@media screen and (max-width: 420px) {
  .profile__username {
    font-size: 27px;
  }
}
