.add-btn {
  width: 150px;
}

@media screen and (max-width: 768px) {
  .profile__add-btn {
    width: 360px;
  }
}

@media screen and (max-width: 420px) {
  .profile__add-btn {
    width: 282px;
  }
}
