.edit-btn {
  width: 24px;
  height: 24px;
  background-color: #000;
  border: 1px solid #fff;
  cursor: pointer;
  outline: none;
  background: transparent url(../../images/edit-icon.svg) center no-repeat;
  background-size: 10px 10px;
}

.edit-btn:hover {
  opacity: 0.6;
}
