.footer__copyright {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22px;
  color: #545454;
}

@media screen and (max-width: 900px) {
  .footer__copyright {
    padding-left: 19px;
    font-size: 14px;
    line-height: 1.21;
  }
}
