.profile__userbio {
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22px;
  grid-row: 2/3;
  grid-column: 2/3;
  padding-left: 30px;
  padding-top: 16px;
  max-width: 450px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .profile__userbio {
    grid-column: 1/2;
    grid-row: 4/5;
    padding-bottom: 36px;
  }
}

@media screen and (max-width: 420px) {
  .profile__userbio {
    font-size: 14px;
  }
}
